.off-canvas-toggle {
  float: right;
  height: 40px !important;
  margin-top: -5px;
  line-height: 40px !important;
  width: 40px !important;
}
.t3-off-canvas-header {
  background: #00568c !important;
  color: #ffffff !important;
}
.t3-off-canvas-body {
  float: left;
  padding-top: 0 !important;
  width: 100%;
}
.t3-off-canvas-body ul.mega-nav.level1 li a > img {
  display: none !important;
}
.t3-off-canvas-body ul.nav li {
  float: left;
  width: 100%;
}
.t3-off-canvas-body ul.nav li a {
  background: none;
  color: #333333;
  margin: 2px auto;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}
@media (max-width: 767px) {
  .t3-off-canvas-body ul.nav li a {
    margin: 2px 10px;
  }
  .t3-off-canvas-body ul.nav li a img {
    display: none !important;
  }
}
.t3-off-canvas-body ul.nav li a img {
  display: none !important;
}
@media (max-width: 767px) {
  .t3-off-canvas-body ul.nav li a img {
    display: none !important;
  }
}
.t3-off-canvas-body ul.nav li a.home {
  display: block;
}
.t3-off-canvas-body ul.nav li.current a,
.t3-off-canvas-body ul.nav li a:hover {
  background: none;
  color: #c41230 !important;
}
.t3-off-canvas-body ul.nav li.current ul li a {
  color: #c41230 !important;
}
.t3-off-canvas-body ul.nav li.current ul li a:hover {
  color: #ffffff !important;
}
.t3-off-canvas-body ul.nav .dropdown-menu {
  opacity: 1 !important;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner {
  margin: 0 !important;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li a {
  background: none;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li a img {
  display: none !important;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li.active ul li a {
  background: none;
  color: #c41230;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li.active ul li a:hover {
  background: #c41230;
  color: #ffffff;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li.active ul li.current a {
  background: #c41230;
  color: #ffffff;
}
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li a:hover,
.t3-off-canvas-body ul.nav .dropdown-menu .mega-dropdown-inner ul.mega-nav li.current a {
  background: none;
  color: #ffffff;
}